@import '../../app.scss';

.newsType {
  display: flex;
  background: $white;
  padding: 20px 0;
  margin-top: 20px;
  justify-content: space-around;
}
.title {
  padding: 20px;
  background-color: $white;
}
.submit {
  padding: 20px;
  background-color: $white;
}