@import '../../app.scss';

.warnList {
  margin-top: 25px;
  .content {
    font-size: 28px;
    margin-top:15px;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    margin-top:15px;
    color: $gray9;
    font-size: 26px;
  }
}

.warndetail {
  .approval {
    margin-top: 20px;
  }
}